<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title><%= title %></title>
    <% for(var i=0; i<styles.length; i++) {%>
    <link rel="stylesheet" href="<%= styles[i] %>">
    <% } %>
    <link rel="stylesheet" href="/stylesheets/fonts.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel='icon' href='./images/parrotlogo.png' type='image/png' size="16x16">
  </head>
  <!--<script src="/node_modules/dronestream/dist/nodecopter-client.js"></script>
  <script src="/node_modules/dronestream/dist/nodecopter-stream.js"></script>-->
  <script type="text/javascript" src="/components/jquery/jquery.js"></script>
  <script type="text/javascript" src="/js/jquery.fullscreen-min.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <% for(var i=0; i<scripts.length; i++) {%>
  <script type="text/javascript" src="<%= scripts[i] %>"></script>
  <% } %>
  <!--<script type="text/javascript" src="/plugins/video-feed/public/js/index.js"></script>-->

  <body>
    <div id="yago-drop-down">
      <img src="/images/parrotlogo.png" alt="yagoparrot">
      <p>YAGO</p>
    </div>
    <div id="dronestream" class="debugger">
        <script type="text/javascript">
          (function(window, document, $) {
            console.log("inner index file")

            var Video = function Video() {
            console.log("video stream plugin loaded");

            $('#dronestream').append('<div id="drone-feed"></div>');

            videostream = new NodecopterStream(document.getElementById("drone-feed"), {port: 3001}
              );
            }

            new Video;

          })(window, document, jQuery);
        </script>

      <script type="text/javascript" src="/js/index.js"> </script>
    </div>

    <div id="commands">
      <p>Commands</p>
      <ul>
        <li>T - Takeoff</li>
        <li>L - Land</li>
        <li>W - Forward</li>
        <li>S - Backward</li>
        <li>A - Left</li>
        <li>D - Right</li>
        <li>&#8593; - Up</li>
        <li>&#8595; - Down</li>
        <li>&#8594; - Turn Right</li>
        <li>&#8592; - Turn Left</li>
        <li>F - Flip Forward</li>
        <li>G - Flip Backward</li>
        <li>V - Flip Left</li>
        <li>B - Flip Right</li>
        <li>R - Record</li>
      </ul>
    </div>
    <div id="command-placeholder">
      <p>"C" for Commands</p>
    </div>
    <div class="button">
      <div class="circle blink"> </div>
      <div class="record"> </div>
    </div>
  </body>
</html>

