body {
  /*padding: 50px;*/
  font: 14px "Sonsie One", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#dronestream {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow: hidden;
}

canvas {
  height: 100vh!important;
  width: 100vw!important;
  position: relative!important;
}

.debugger {
  border: 1px solid red;
}

#drone-feed {

}

#yago-drop-down {
  margin: 0 auto;
  width: 50%;
  height: 15em;
  border: 1px solid white;
  background-color: white;
  background: rgba(255,255,255,0.3);
  display: flex;
  justify-content: center;
}

#yago-drop-down p {
  font-family: "Sonsie One", cursive;
  font-size: 72px;
  color: #2E5C8A;
  padding-top: 0;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#commands {
  bottom: 0;
  width: 25%;
  height: 22em;
  border: 1px solid white;
  position: absolute;
}

#commands ul {
  list-style-type: none;
  padding-left: 2em;
}

#commands p {
  text-align: center;
}
