body {
  /*padding: 50px;*/
  font: 14px 'Black Ops One', Helvetica, Arial, sans-serif;
  /*display: flex;*/
}

a {
  color: #00B7FF;
}

#dronestream {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow: hidden;
}

canvas {
  height: 100vh!important;
  width: 100vw!important;
  position: relative!important;
}

.debugger {
  border: 0px solid red;
}

#drone-feed {

}

#yago-drop-down {
  margin: 0 auto;
  width: 50%;
  height: 15em;
  border: 1px solid white;
  background-color: white;
  background: rgba(255,255,255,0.3);
  display: flex;
  justify-content: center;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

#yago-drop-down p {
  font-family: "Sonsie One", cursive;
  font-size: 72px;
  color: #2E5C8A;
  padding-top: 0;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#commands {
  font-family: "Black Ops One", cursive;
  text-shadow: -0.1px 0 white, 0 0.1px white, 0.1px 0 white, 0 -0.1px white;
  bottom: 0;
  width: 17%;
  height: 25em;
  border: 1px solid white;
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
  border-top-right-radius: 1em;
  overflow: hidden;
}

#commands ul {
  list-style-type: none;
  padding-left: 2.5em;
}

#commands p {
  text-align: center;
  font-size: 1.5em;
}

#command-placeholder {
  bottom: 0;
  left: 0;
  position: fixed;
}

.button {
  position: fixed;
  border-radius:50%;
  width:5em;
  height:5em;
  border:0.2em hsla(360, 80%, 50%, 0.8) solid;
  margin:0.5em;
  display:inline-block;
  float: right;
  bottom: 0;
  right: 0;
}

.opacity-switch {
  opacity: 0;
}

.circle {
  position:absolute;
  top:5%;
  left:5%;
  border-radius:50%;
  width:90%;
  height:90%;
  display:block;
  background-color:hsla(360, 80%, 50%, 0.8);
  border:0;
}

.control {
  position:absolute;
  top:42.5%;
  left:42.5%;
  width:15%;
  height:15%;
  display:block;
  background-color:white;
  box-shadow: inset 0px 1px 3px 0px black;
}

.record {
  border-radius:50%;
}