body {
  /*padding: 50px;*/
  font: 1em Helvetica, Arial, sans-serif;
  /*display: flex;*/
}

a {
  color: #00B7FF;
}

.yago-drop-down-container {
  text-align: center;
}

#dronestream {
  position: absolute;
  /*z-index: -1;*/
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow: hidden;
}

canvas {
  height: 100vh!important;
  width: 100vw!important;
  position: relative!important;
}

.debugger {
  border: 0px solid red;
}

#drone-feed {
  z-index: 1;

}

#yago-drop-down {
  position: absolute;
  z-index: 3;
  left: 25%;
  width: 50%;
  height: 15em;
  border: 1px solid white;
  background-color: white;
  background: rgba(255,255,255,0.3);
  display: flex;
  justify-content: center;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

#yago-drop-down p {
  top: 25%;
  position: relative;
  font-family: "Sonsie One", cursive;
  font-size: 72px;
  color: #2E5C8A;
  padding-top: 0;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#commands {
  font-family: "Black Ops One", cursive;
  bottom: 0;
  height: 23em;
  border: 1px solid white;
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
  border-top-right-radius: 1em;
  overflow: hidden;
  width: 15%;
  max-width: 15em;
}

#commands ul {
  padding-left: 0;
  margin-top: 0;
  margin-left: 0.8em;
  list-style-type: none;
  /*padding-left: 2.5em;*/
}

#commands li {
  padding-left: 5%;
}

#commands p {
  margin-top: 0.5em;
  text-align: center;
  font-size: 2em;
  text-shadow: -0.1px 0 white, 0 0.1px white, 0.1px 0 white, 0 -0.1px white;
}

#command-placeholder {
  text-align: center;
  bottom: 0;
  left: 0;
  position: fixed;
  border: 1px solid white;
  border-top-right-radius: 1em;
  width: 15%;
  max-width: 15em;
  padding-top: .5em;
  padding-bottom: .5em;
  font-weight: bolder;
}

p {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

#command-placeholder p {
  padding: 0;
}

.button {
  position: fixed;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  border: 1em hsla(0, 0%, 55%, 0.8) solid;
  margin: 0.2em;
  bottom: 0;
  right: 0;
}

.opacity-off {
  opacity: 0;
}

.circle {
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: hsla(360, 80%, 50%, 0.8);
  border: 1px solid black;
}

.record {
  border-radius:50%;
}

.blink {
    animation: blink 1s steps(5, start) infinite;
    -webkit-animation: blink 1s steps(5, start) infinite;
  }

  @keyframes blink {
    to {
      visibility: hidden;
    }
  }

  @-webkit-keyframes blink {
    to {
      visibility: hidden;
    }
  }
